<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Connect - Tarandeep Singh</title>
      <link href="https://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet" type="text/css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://gurdwaraanandvihar.com/assets/js/jquery.min.js"></script>
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
      <link rel="stylesheet" href="/assets/styles/main.css">
   </head>
   <body>
      <section id="app">
        <div class="head-content">  
            <div class="iam">Tarandeep Singh</div>
            <div class="connect">Connect to me</div>
            <input class="input-elevated" type="text" placeholder="Search" v-model="searchInput">
        </div>
         <ul id="services">
            <li v-for="(connection,index) in resultQuery">
               <div class="">
                  <a :href="connection.url" target="_blank">
                  <img v-if="connection.customIcon == true" style="width:50px" :src="'/assets/images/logos/'+connection.icon"/>
                  <i v-else :class="connection.icon" aria-hidden="true"></i>
                  </a>
               </div>
               <span>{{connection.title}}</span>
            </li>
         </ul>
      </section>
      <script>
         const { createApp } = Vue
         createApp({
           data() {
             return {
                connections:[],
                showModal : false,
                searchQuery:'',
             }
           },
           computed: {
            resultQuery(){
              if(this.searchQuery){
              return this.connections.filter((item)=>{
                const DATA_TO_FIND_IN = (item.title+item.category+item.tags).toLowerCase();
                console.log(DATA_TO_FIND_IN);
                return this.searchQuery.toLowerCase().split(' ').every(v => DATA_TO_FIND_IN.includes(v))
              })
              }else{
                return this.connections;
              }
            },
            searchInput: {
                get() {
                  return this.searchQuery
                },
                set(val) {
                  if (this.timeout) clearTimeout(this.timeout)
                  this.timeout = setTimeout(() => {
                    this.searchQuery = val
                  }, 300)
                }
            }
           },
           mounted: function(){
            var self = this;
            $.getJSON('assets/data/connect.json', function(result) {
                $.each(result, function(key, val) {
                    if(val.active == true)
                        self.connections.push(val);
                });
            });
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            this.searchQuery = urlParams.get('search');
           },
           methods:{
               
           }
         }).mount('#app')
      </script>
   </body>
</html>